#about-section{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-left{
    height: 0px;
    width: 40%;
    text-align: center;
    border: 1px solid var(--primary-color);
    background: url("../images/bhawna_img-rb.png") no-repeat top/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    transition: all 2s ease;
}
.about-left:hover{
    height: 500px;
    align-items: center;
} 
.about-left::after{
    content: "About Me";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translateY(-75px);
    position: absolute;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    transition: all 2s ease;
}
.about-left:hover::after{
    height: 60px;
    width: 60px;
    top: -30px;
    font-size: .7rem;
    transform: translateY(0px);
}
.about-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}