/* Hero section styling */
/* ===================================== */
.hero-section{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
}
.left, .left-content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.left-content p{
    text-align: justify;
}
.left .contect-text{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;   
    cursor: pointer;
}
.contect-text::after{
    content: " ";
    height: 2px;
    width: 120px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 1s ease;
}
.contect-text:hover::after{
    width: 150px;
}
.contect-me{
    font-size: 1.3rem;
    display: flex;
    column-gap: 20px;
}
.contect-me a{
    color: black;
}
.contect-me .fa-brands{
    transform: translateY(0);
    transition: all .15s ease;
}
.contect-me .fa-brands:hover{
    transform: translateY(-5px);
}
#right{
    width: 400px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    border-radius: 50%;
    transition: all 2s ease;
}
#right:hover{
    height: 400px;
    border: 1px solid var(--primary-color);
}
#right::after{
    content: "It's Me";
    font: 600 1.5rem var(--section-heading-family);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-75px);
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: 50%;
    transition: all 2s ease;
}
#right:hover::after{
    height: 60px;
    width: 60px;
    top: -30px;
    font-size: .7rem;
    transform: translateY(0px);
}
#profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
}

/* Hero section for smaller screen size*/
@media (max-width: 799px) {
    .hero-section{
        padding-top: 40px;
        height: auto;
        flex-direction: column-reverse;
    }
    .left{
        width: 100%;
        margin-bottom: 25px;
    }
    .left, .left-content{
        align-items: center;
        row-gap: 35px;
        text-align: center;
    }
    .contect-text::after{
        width: 100px;
        left: -5px;
    }
    .contect-me{
        font-size: 1.2rem;
        column-gap: 15px;
    }
    #right{
        width: 150px;
        height: 150px;
        border: 1px solid var(--secondary-color);
    }
    #right::after{
        display: none;
    }
}
/* Hero section for medium screen size*/
@media (min-width: 500px) and (max-width: 799px) {
    .left{
        width: 70%;
        margin-bottom: 25px;
    }
}
@media (min-width: 500px) and (max-width:1100px){
    .hero-section{
        height: auto;
        padding-top: 30px;
    }
}
/* Hero section for larger screen size*/
@media (min-width: 799px) and (max-width:1100px) {
    #right{
        width: 300px;
    }
    #right:hover{
        height: 300px;
    }
    #right::after{
        height: 120px;
        width: 120px;
    }
}