@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin : 0; 
    padding: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: .1rem;
} 
body a{
    text-decoration: none;
}
body i{
    cursor: pointer;
}
#wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
:root{
    /* --primary-color: #06bbf7;
    --secondary-color: rgb(0, 255, 238); */
    --primary-color: #ed34ff;
    --secondary-color: rgb(255 184 124);
    --section-main-heading: 2rem;
    --section-heading-family: 'Roboto Slab', serif;
}
.section-heading{
    font: 900 var(--section-main-heading) var(--section-heading-family);
}
.section-info-text{
    color: var(--secondary-color);
    font: 400 .8rem var(--section-heading-family);
    text-transform: uppercase;
}